* {
  font-family: 'Space Mono', monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
  }

#body {
  padding-top: 5%;
  text-align: center;
}

#calculator {
  width: 50%;
  margin: auto;
  background-color: white;
  height: 500px;
  text-align: left;
  }

#input {
  padding: 5%;
  height: 80%;
  float: left;
  width: 40%;
  border: 1px solid red;
  }

#input i {
  position: absolute;
}

.bar-input {
  background-color: hsl(189, 41%, 97%);
  padding: 7px;
  width: 100%;
}

.icon {
  padding: 7px;
}

.perc-button {
  width: 25%;
  padding: 2%;
  border: none;
  margin: 2%;
  background-color: hsl(183, 100%, 15%);
  }

.perc-input {
  background-color: hsl(189, 41%, 97%);
  width: 25%;
  padding: 1%;
  border: none;
  margin: 1%;
  height: 5%;
}

#output {
  float: left;
  width: 40%;
  background-color: hsl(183, 100%, 15%);
}
